// Include the custom theme colors before importing the Bootstrap scss
$theme-colors: (
/*   "primary": white,
  "danger": #e20b00,
  "dark": #1B203A,
  "secondary": rgb(37, 37, 59),
  "success": rgb(0, 215, 0), */
);

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #F3F4F8;
}

div.pie-root {
  height: 100%;
  min-height: 450px;
  position: relative;
}

.display-name {
  margin-left: 1.25rem;
  margin-top: 1rem;
}

div.overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  text-align: center;

  div.inner-text {
    pointer-events: all;
    cursor: pointer;

    span.inner-text {
      font-size: 1.75rem;
    }
    span.sub-text {
      font-size: 1rem;
    }
  }
}

div.card.statistics {
  background-color: rgb(241, 243, 251);
}

.container {
    max-width: 98%;
  }

@media (min-width: 1770px) {
  .col-xxl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
}